@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Schudle-It</h1>
        
        
    </section>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Create">Register</a>

        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
    </div>
    

   
</main>